@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    box-sizing: border-box;
}

html, body {
    margin:0;
    padding:0;
}

html {
    background-color:#2eb82e
}


.main-header {
    background-color: rgba(0, 0, 0, .80);
    background-image: url("/Images/tailor-artwork.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-blend-mode: multiply;
    background-size: cover;    
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
}

.image-logo {
    width: 8em;
    height: 8em;
}

.attributes {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: red;
}

.login_signup{
    display:inline-block;
    padding: 30px; 
    text-align: center;
}

.btn {
    padding: 5px;
    color: black;
    text-align: center;
}

.login_btn, .signup_btn {
    background-color: rgb(129, 129, 119);
}

.footer a { 
    display: inline-block;
    padding: 5px;
    color: yellow;
    text-decoration: none;
    text-align: center;
}

.footer a:hover {
    background-color: rgba(255, 255, 255, .3);
}
